# **Tarea Nº 2**

Curso:          Fundamentos de Programación en Python para Macroeconomía y Finanzas     
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Sábado 6 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Armando Paredes ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## Filtering rows

1. Import the `flights.csv` dataset. Find all flights that:

    a. Had an arrival delay of three or more hours

    b. Flew to Houston (IAH or HOU)

    c. Were operated by United, American, or Southwest

    d. Departed in spring (March, April, and June)

    e. Arrived more than two hours late, but didn’t leave late
    
    f. Were delayed by at least an hour, but made up over 30 minutes in flight 7. Departed between midnight and 5am (inclusive)

In [1]:
# Solution
import pandas as pd

In [2]:
pwd

'/Users/patriciajacquelinemendozaarce/Downloads/tarea-2-mendoza-remon-1'

In [71]:
file_path = '/Users/patriciajacquelinemendozaarce/Downloads/tarea-2-mendoza-remon-1/flights.csv'
data = pd.read_csv(file_path)
print(data.head())

   Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
0           1  2013      1    1     517.0             515        2.0
1           2  2013      1    1     533.0             529        4.0
2           3  2013      1    1     542.0             540        2.0
3           4  2013      1    1     544.0             545       -1.0
4           5  2013      1    1     554.0             600       -6.0

   arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0     830.0             819       11.0      UA    1545  N14228    EWR  IAH
1     850.0             830       20.0      UA    1714  N24211    LGA  IAH
2     923.0             850       33.0      AA    1141  N619AA    JFK  MIA
3    1004.0            1022      -18.0      B6     725  N804JB    JFK  BQN
4     812.0             837      -25.0      DL     461  N668DN    LGA  ATL

   air_time  distance  hour  minute            time_hour
0     227.0      1400     5      15  2013-01-01 05:00:00
1     227.0      1416     5      29  2013-01-01 05:00:00
2     160.0      1089     5      40  2013-01-01 05:00:00
3     183.0      1576     5      45  2013-01-01 05:00:00
4     116.0       762     6       0  2013-01-01 06:00:00

In [48]:
# a
delay_3more = data.loc[data.arr_delay>=3,:]
print(delay_3more.flight)

0         1545
1         1714
2         1141
5         1696
6          507
          ...
336758    5311
336759    3660
336760    4672
336762     471
336763    1083
Name: flight, Length: 123096, dtype: int64

In [28]:
# b
flew = data.loc[(data.dest == 'IAH') | (data.dest == 'HOU'), :]
# alternative way 
#data.loc[data.dest.isin(['IAH', 'HOU']),:]
print(flew.flight)

0         1545
1         1714
32         496
81         473
89        1479
          ...
336524     652
336527    2067
336618    1128
336694    1545
336737     475
Name: flight, Length: 9313, dtype: int64

In [44]:
# c
#data1 = data.drop_duplicates(subset=['carrier'])
#data1.carrier
carrier = data.loc[(data.carrier == 'UA') | (data.carrier == 'AA') | (data.carrier == 'WN')]
print(carrier.flight)

0         1545
1         1714
2         1141
5         1696
9          301
          ...
336736     382
336737     475
336751     185
336755     523
336762     471
Name: flight, Length: 103669, dtype: int64

In [47]:
# d
months = data.loc[(data.month==3) | (data.month==4) | (data.month==5)]
print(months.flight)

136247      11
136248     707
136249     608
136250    1117
136251     475
          ...
222202    4431
222203    4650
222204     364
222205     434
222206     665
Name: flight, Length: 85960, dtype: int64

In [50]:
# e
delay = data.loc[(data.arr_delay > 2) & (data.dep_delay == 0) ]
print(delay.flight)

18        4650
42         711
89        1479
94          59
105       2119
          ...
335477    3411
335657     208
336284    1663
336354     161
336484    2189
Name: flight, Length: 4368, dtype: int64

2. How many flights have a missing dep_time? What other variables are missing? What might these rows represent?

In [53]:
# Solution
flight = data.isna().sum()
print(flight)
# the na spaces could represent lost information during the flights o not recorded/uncoordinated information

Unnamed: 0           0
year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

3. What happens to observations **with missing values in `arr_time`** when you filter by **`arr_time == 1800`**? Why? (Hint: compare `2000 == 1800`, `1800 == 1800`, and `NA == 1800`).

In [62]:
# Solution
missing_values = data.loc[data.arr_time == 2000]
print(missing_values.isna().sum())

Unnamed: 0        0
year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         3
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          3
distance          0
hour              0
minute            0
time_hour         0
dtype: int64

4. What does `False & None` evaluate to? Why?

In [ ]:
# Solution

## Select columns

5. Brainstorm as many distinct ways as possible to select `dep_time`, `dep_delay`, `arr_time`, and `arr_delay` from `flights`.

In [92]:
# Solution
datac = data.loc[:,["dep_time", "dep_delay", "arr_time", "arr_delay"]]
print(datac)

datad = data[["dep_time", "dep_delay", "arr_time", "arr_delay"]]

datae = data.iloc[:, [data.columns.get_loc('dep_time'), data.columns.get_loc('dep_delay'), data.columns.get_loc('arr_time')]
print(datad)
#datac.shape
#datac2 = data[:, data.columns.get_loc('dep_time')  data.columns.get_loc('dep_delay') & data.columns.get_loc('arr_time')]
#data.iloc

0         517.0
1         533.0
2         542.0
3         544.0
4         554.0
          ...
336771      NaN
336772      NaN
336773      NaN
336774      NaN
336775      NaN
Name: dep_time, Length: 336776, dtype: float64
        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]
        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

## Sort columns

6. Sort flights to find the most delayed flights by arrival time. Hint: End your code with head(1) to only print that row.

In [ ]:
# Solution

7. Find the top 5 flights that left earliest relative to their scheduled departure. Only show the tail number, date and number of minutes early they departed at.

In [ ]:
# Solution

In [ ]:
8. How could you sort all missing values to the start?

In [ ]:
# Solution

## Add new variables

9. Currently `dep_time` and `arr_time` are convenient to look at, but hard to compute with because they’re not really continuous numbers. Convert them to number of minutes since midnight in new vars called `arr_time_min` and `dep_time_min`

In [ ]:
# Solution

10. Make a plot to compare `air_time` with `arr_time_min` - `dep_time_min`

In [ ]:
# Solution

11. We expect `air_time` and `arr_time_min` - `dep_time_min` to be the same, but they’re not. Why not?
Identify a major data issue and subtle one.

In [ ]:
# Solution

12. Implement your fix to the major probelm. Remake the plot from the previous question.

In [ ]:
# Solution

13. Find the 10 most delayed flights

In [ ]:
# Solution

## Summarizing grouped data

14. Calculate average delays by destination for flights originating in NYC. Create a variable which ranks destinations from worst to best, where 1 is the worst rank.

In [ ]:
# Solution

15. Which plane (`tailnum`) has the most minutes of delays total?

In [ ]:
# Solution

16. Which airlines only offer flights from New York to one other airport?

In [ ]:
# Solution

17. Calculate the median arrival delay by airline.

In [ ]:
# Solution

18. ExpressJet has a median arrival delay of -1 minutes while US Airways has a median arrival delay of -6 minutes. Does this tell you that US Airways is a more reliable airline? Why or why not?

In [ ]:
# Solution

19. Median arrival delay may not be the best metric for our needs. Brainstorm at least 4 additional ways to assess the typical delay characteristics of a group of flights.

In [ ]:
# Solution

20. Write a code which calculates your delay measures separately by airline. Do particular airlines perform poorly on multiple metrics?

In [ ]:
# Solution